/* 这是一个公用的样式 */
.ell1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ell2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}